[Unit]
Description=aquaclean to monitor and control Geberit Aquaclean Mera Comfort
After=network.target
After=bluetooth.target
Requires=bluetooth.target

[Service]
Type=simple
ExecStart=/absolute/path/to/start_aquaclean.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

